 *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body{
      font-family: Arial, sans-serif;
      background-color: 
      #ffffff;
    }

    /* NAVBAR */

    .navbar {
    background-color: #b89b5e; /* faded gold */
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    color: #000000;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
}

.navbar-nav {
    display: flex;
    gap: 40px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-nav a {
    color: #000000; /* black text */
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s ease;
    padding: 8px 15px;
    border-radius: 5px;
}

/* hover effect */
.navbar-nav a:hover {
    color: #ffffff; /* white text */
    background-color: rgba(255,255,255,0.15);
}

.navbar-brand:hover {
    color: #ffffff;
}
    /* HERO SECTION */

    .hero {
    background-image: url("C:/Users/ausnd/TERMINAL/BALEGHE/Images/DSC03282.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    text-align: center;
}

    .hero h1{
      font-size: 60px;
      font-weight: bold;
    }

    .hero p{
      font-size: 20px;
      margin-top: 15px;
      margin-bottom: 25px;
    }

    .hero-btn{
      padding: 12px 30px;
      font-size: 18px;
      border-radius: 30px;
    }

    /* FEATURES */

    .features{
      padding: 80px 20px;
      background: white;
    }

    .feature-box{
      background: #fff;
      padding: 30px;
      border-radius: 15px;
      text-align: center;
      box-shadow: 0 5px 15px rgba(0,0,0,0.1);
      transition: 0.3s;
    }

    .feature-box:hover{
      transform: translateY(-10px);
    }

    .feature-box i{
      font-size: 50px;
      color: #0d6efd;
      margin-bottom: 20px;
    }

    /* FOOTER */

    footer{
      background: #111;
      color: white;
      text-align: center;
      padding: 20px;
    }
